<header>
  <div class="banner">
    <h2>Recipe App</h2>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Foods", foods_path %></li>
      <li><%= link_to "Recipes", recipes_path %></li>
      <li><%= link_to "Public Recipes", public_recipes_path %></li>
      <li>Shopping list</li>
      <li><%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
    </ul>
  </nav>
</header>

<div class="sign-main">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "devise-button" %>
  <% if user_signed_in? %>
    <p class="logged-as">Logged in as <%= current_user.try(:name) %></p>
  <% end %>
  <% unless user_signed_in? %>
  <button class="devise-button">
    <%= link_to "Log in", new_user_session_path, class: "link-login"%>
  </button>
  <% end %>
</div>

 <%# <><%= link_to "Shopping List", shoppinglist_index_path %>